@charset "utf-8";
/* CSS Document */
html{
	background-image: url("Sudoku.jpg");
	background-size:auto;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
#easy{
	position:fixed;
	right: 20px;
	top: 10px;
	background-color:#6CC;
	border:outset;
	/*border-size: 15px;*/
	border-color:#000000;
	width: 5em;
	height: 3em;
	text-align:center;
}
#medium{
	position:fixed;
	right: 20px;
	top: 70px;
	background-color:#6CC;
	border:outset;
	/*border-size: 15px;*/
	border-color:#000000;
	width: 5em;
	height: 3em;
	text-align:center;
}